.main-info {
    padding-bottom: 4rem;
    &__row {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
        padding: 2rem 2rem 1rem 2rem;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--border-color);
            bottom: -4rem;
            left: 0;
        }
        @media (max-width: 670px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2rem;
        }
    }
    &__left-column {
    }
    &__photo {
        width: 386px;
    }
    &__right-column {
        text-align: right;
    }
    &__title {
        font-family: var(--font-accent);
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media (max-width: 450px) {
            font-size: 2rem;
        }
    }
    &__subtitle {
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 2rem;
    }
    &__text {
    }
}