html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	color: var(--text-color);
    font-family: var(--font-main);
	font-size: 14px;
}

.main {
	background-color: var(--page-bg);
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	margin: 0 auto;
}

.misc {
	&__row {
		display: flex;
		justify-content: space-between;
	}
}