:root {
	--container-width: 900px;
	--container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'Tenor Sans', sans-serif;

	--page-bg: #F5F5EF;
	--text-color: #000;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}