<section class="main-info">
    <div class="container">
        <div class="main-info__row">
            <div class="main-info__left-column">
                <img class="main-info__photo" src="../../img/photo.jpeg" alt="Victor Samoylik">
            </div>
            <div class="main-info__right-column">
                <h1 class="main-info__title">
                    Виктор Самойлик
                </h1>
                <h2 class="main-info__subtitle">
                    frontend-developer
                </h2>
                <p class="main-info__text">
                    Интересуюсь разработкой в разных ее проявлениях с 2017 года. Сейчас основное направление Frontend с использованием React, REST API. Вполне нормально отношусь к верстке, но также всегда стараюсь пополнять багаж знаний современными технологиями и актуализировать уже имеющиеся навыки в текущем направлении
                </p>
            </div>
        </div>
    </div>
</section>