<section class="misc__left-column left-column">
    <h2 class="left-column__label">
        образование
    </h2>
    <div class="left-column__scholarship">
        <div class="left-column__scholarship-item">
            <h3 class="left-column__sublabel">RS SCHOOL</h3>
            <p class="left-column__text">2022- 2023 гг. | Stage 0, Stage 1</p>
        </div>
        <div class="left-column__scholarship-item">
            <h3 class="left-column__sublabel">Scrimba</h3>
            <p class="left-column__text">2020 г. - наст.время | Сертификаты “JS ES6+”, “Learn React”, “UI Fundamentals”, “CSS Grid”, прохожу “Advanced React”</p>
        </div>
        <div class="left-column__scholarship-item">
            <h3 class="left-column__sublabel">Курс Е. Андриканича</h3>
            <p class="left-column__text">2020 г. | “Курс по верстке сайтов”</p>
        </div> 
    </div>
    <h2 class="left-column__label">
        HARD-Skills
    </h2>
    <ul class="left-column__list">
        <li class="left-column__list-items">HTML5, CSS3</li>
        <li class="left-column__list-items">Flex, Grid</li>
        <li class="left-column__list-items">SASS (SCSS)</li>
        <li class="left-column__list-items">БЭМ</li>
        <li class="left-column__list-items">Figma, Photoshop, Marsy, CorelDraw</li>
        <li class="left-column__list-items">Javascript - ES6+ (включая destructuring, spread operator, async-await)</li>
        <li class="left-column__list-items">REST API’s, endpoints and etc. Interacting with JSON</li>
        <li class="left-column__list-items">React 17, 18 - функциональные компоненты, хуки useState, useEffect, useContext</li>
        <li class="left-column__list-items">React Router 6.4+ - базовый роутинг</li>
        <li class="left-column__list-items">Начальный NodeJS, Node Package Manager</li>
        <li class="left-column__list-items">Vite, Gulp, Webpack</li>
        <li class="left-column__list-items">Английский B1 по внутреннему тесту EPAM</li>
    </ul>
</section>