<section class="mics__right-column right-column">
    <h2 class="right-column__label label">
        Опыт работы
    </h2>
    <div class="right-column__experience">
        <ul class="right-column__experience-item">
            <li class="right-column__experience-list right-column__experience-list-date">
                2020 2021
            </li>
            <li class="right-column__experience-list">
                <h2 class="sublabel">
                    СТУДИЯ "Webscrapers" HTML-верстальщик | Донецк
                </h2>
                <ul>
                    <li>
                        Верстка макетов HTML-SCSS-JS-Gulp
                    </li>
                    <li>
                        Создание простых анимаций
                    </li>
                    <li>
                        Работа с Figma - правка, доработка макетов
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="right-column__experience-item">
            <li class="right-column__experience-list right-column__experience-list-date">
                2021 2022
            </li>
            <li class="right-column__experience-list">
                <h2 class="sublabel">
                    СТУДИЯ "DonSolutions" Frontend разработчик | Донецк
                </h2>
                <ul>
                    <li>
                        Вертка макетов HTML-sCSS-JS
                    </li>
                    <li>
                        Верстка компонентов React
                    </li>
                    <li>
                        Создание базовой логики фронтенд, включая работу с REST API и дополнительными библиотеками
                    </li>
                    <li>
                        Работа с Git
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="right-column__experience-item">
            <li class="right-column__experience-list right-column__experience-list-date-last">
                2022
            </li>
            <li class="right-column__experience-list">
                <h2 class="sublabel">
                    Freelance
                </h2>
                <ul>
                    <li>
                        Удаленная работа на разных фриланс-биржах, а также в частном порядке с индивидуальными предпринимателями
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <h2 class="right-column__label label label-right">
        Контакты
    </h2>
    <div class="right-column__contacts">
        <ul class="right-column__list">
            <li class="right-column__list-item">
                <p>Телефон и Whatsapp</p>
                <div class="dots"></div>
                <a href="tel:+79957194002">+7 (995) 719-40-02</a>
            </li>
            <li class="right-column__list-item">
                <p>Telegram</p>
                <div class="dots"></div>
                <a href="https://t.me/vic_samoylik">https://t.me/vic_samoylik</a>
            </li>
            <li class="right-column__list-item">
                <p>Почта</p>
                <div class="dots"></div>
                <a href="mailto:v.samojlik@gmail.com">v.samojlik@gmail.com</a>
            </li>
            <li class="right-column__list-item">
                <p>GitHub</p>
                <div class="dots"></div>
                <a href="github.com/vic-samoylik-999">github.com/vic-samoylik-999</a>
            </li>
            <li class="right-column__list-item">
                <p>Codewars</p>
                <div class="dots"></div>
                <a href="codewars.com/users/vicSamoylik">codewars.com/users/vicSamoylik</a>
            </li>
        </ul>
    </div>
</section>